body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:2px;
  width:758px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:530px;
  top:630px;
  width:200px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
