body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:162px;
  top:31px;
  width:322px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:50px;
  top:59px;
  width:914px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:897px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:914px;
  height:1px;
}
#u5 {
  position:absolute;
  left:50px;
  top:10px;
  width:86px;
  height:49px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:49px;
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:100px;
  width:542px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:138px;
  width:914px;
  height:135px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:135px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:320px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:50px;
  top:295px;
  width:128px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:50px;
  top:395px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:50px;
  top:370px;
  width:91px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:50px;
  top:475px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:50px;
  top:450px;
  width:69px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:290px;
  top:475px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:290px;
  top:450px;
  width:66px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:50px;
  top:510px;
  width:81px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:290px;
  top:510px;
  width:81px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:50px;
  top:555px;
  width:90px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:50px;
  top:580px;
  width:210px;
  height:15px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:50px;
  top:605px;
  width:170px;
  height:15px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:50px;
  top:630px;
  width:160px;
  height:15px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:50px;
  top:655px;
  width:100px;
  height:15px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:50px;
  top:695px;
  width:494px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:50px;
  top:725px;
  width:900px;
  height:100px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:50px;
  top:865px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:50px;
  top:910px;
  width:190px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:50px;
  top:945px;
  width:900px;
  height:15px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:882px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:602px;
  top:106px;
  width:383px;
  height:15px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-style:italic;
  color:#CC0000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
