body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:32px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:748px;
  top:6px;
  width:10px;
  height:28px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u3 {
  position:absolute;
  left:1px;
  top:31px;
  width:126px;
  height:73px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u6 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:852px;
  top:12px;
  width:99px;
  height:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:763px;
  top:12px;
  width:66px;
  height:15px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:15px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:669px;
  top:57px;
  width:250px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:919px;
  top:57px;
  width:41px;
  height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u20 {
  position:absolute;
  left:633px;
  top:6px;
  width:10px;
  height:28px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u21 {
  position:absolute;
  left:517px;
  top:12px;
  width:107px;
  height:15px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:32px;
  top:150px;
  width:369px;
  height:38px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:38px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:35px;
  top:187px;
  width:685px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:668px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:3px;
  width:685px;
  height:5px;
}
#u26 {
  position:absolute;
  left:35px;
  top:185px;
  width:958px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:958px;
  height:1px;
}
#u27 {
  position:absolute;
  left:40px;
  top:270px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:380px;
  top:270px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u30 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:720px;
  top:270px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1060px;
  top:270px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:220px;
  width:346px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:40px;
  top:310px;
  width:330px;
  height:15px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:40px;
  top:695px;
  width:330px;
  height:15px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:40px;
  top:920px;
  width:330px;
  height:15px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:40px;
  top:945px;
  width:330px;
  height:15px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:380px;
  top:335px;
  width:330px;
  height:15px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:380px;
  top:310px;
  width:330px;
  height:15px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:380px;
  top:360px;
  width:330px;
  height:15px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:380px;
  top:385px;
  width:330px;
  height:15px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:380px;
  top:410px;
  width:330px;
  height:15px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:380px;
  top:435px;
  width:330px;
  height:30px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:720px;
  top:335px;
  width:330px;
  height:15px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:720px;
  top:310px;
  width:330px;
  height:15px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:720px;
  top:360px;
  width:330px;
  height:30px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:720px;
  top:395px;
  width:330px;
  height:15px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:1060px;
  top:310px;
  width:382px;
  height:15px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:737px;
  top:331px;
  width:313px;
  height:90px;
  overflow:hidden;
  visibility:hidden;
}
#u67_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:15px;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:0px;
  top:25px;
  width:330px;
  height:15px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:0px;
  top:50px;
  width:330px;
  height:15px;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:0px;
  top:75px;
  width:330px;
  height:15px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:527px;
  top:1012px;
  width:315px;
  height:61px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:61px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:543px;
  top:1027px;
  width:143px;
  height:23px;
  font-size:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:527px;
  top:1070px;
  width:315px;
  height:171px;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:171px;
}
#u81 {
  position:absolute;
  left:2px;
  top:78px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:535px;
  top:1083px;
  width:264px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:535px;
  top:1128px;
  width:264px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:811px;
  top:1083px;
  width:18px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:811px;
  top:1128px;
  width:18px;
  height:15px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:535px;
  top:1168px;
  width:264px;
  height:15px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:811px;
  top:1168px;
  width:18px;
  height:15px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:535px;
  top:1196px;
  width:264px;
  height:15px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:811px;
  top:1196px;
  width:18px;
  height:15px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:535px;
  top:1261px;
  width:315px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:551px;
  top:1273px;
  width:99px;
  height:23px;
  font-size:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:535px;
  top:1309px;
  width:315px;
  height:141px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:141px;
}
#u103 {
  position:absolute;
  left:2px;
  top:62px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:551px;
  top:1325px;
  width:284px;
  height:110px;
  font-size:12px;
  text-decoration:underline;
  color:#009900;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:110px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:56px;
  top:525px;
  width:330px;
  height:15px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:74px;
  top:550px;
  width:283px;
  height:15px;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:74px;
  top:575px;
  width:283px;
  height:30px;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:74px;
  top:615px;
  width:283px;
  height:15px;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:74px;
  top:640px;
  width:283px;
  height:15px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:74px;
  top:665px;
  width:283px;
  height:15px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u118 {
  position:absolute;
  left:50px;
  top:335px;
  width:330px;
  height:15px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:74px;
  top:360px;
  width:283px;
  height:15px;
}
#u121 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u120_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u122 {
  position:absolute;
  left:74px;
  top:385px;
  width:283px;
  height:15px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:74px;
  top:410px;
  width:283px;
  height:15px;
}
#u125 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u124_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u126 {
  position:absolute;
  left:74px;
  top:435px;
  width:283px;
  height:15px;
}
#u127 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u126_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u128 {
  position:absolute;
  left:74px;
  top:460px;
  width:283px;
  height:15px;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:74px;
  top:485px;
  width:283px;
  height:30px;
}
#u131 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u132 {
  position:absolute;
  left:56px;
  top:720px;
  width:330px;
  height:15px;
}
#u133 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134 {
  position:absolute;
  left:74px;
  top:745px;
  width:283px;
  height:15px;
}
#u135 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136 {
  position:absolute;
  left:74px;
  top:770px;
  width:283px;
  height:15px;
}
#u137 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  position:absolute;
  left:74px;
  top:795px;
  width:283px;
  height:15px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  position:absolute;
  left:74px;
  top:820px;
  width:283px;
  height:15px;
}
#u141 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u142 {
  position:absolute;
  left:74px;
  top:845px;
  width:283px;
  height:15px;
}
#u143 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u144 {
  position:absolute;
  left:74px;
  top:870px;
  width:283px;
  height:15px;
}
#u145 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u146 {
  position:absolute;
  left:74px;
  top:895px;
  width:283px;
  height:15px;
}
#u147 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u146_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
