body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:49px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:748px;
  top:6px;
  width:10px;
  height:28px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u3 {
  position:absolute;
  left:1px;
  top:31px;
  width:126px;
  height:73px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
}
#u4 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u6 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:852px;
  top:12px;
  width:99px;
  height:15px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:763px;
  top:12px;
  width:66px;
  height:15px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:15px;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:669px;
  top:57px;
  width:250px;
  height:36px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:919px;
  top:57px;
  width:41px;
  height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u20 {
  position:absolute;
  left:633px;
  top:6px;
  width:10px;
  height:28px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u21 {
  position:absolute;
  left:517px;
  top:12px;
  width:107px;
  height:15px;
  color:#666666;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:49px;
  top:650px;
  width:961px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:944px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:961px;
  height:1px;
}
#u24 {
  position:absolute;
  left:184px;
  top:150px;
  width:312px;
  height:185px;
}
#u24_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u26 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:177px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:172px;
  white-space:nowrap;
}
#u25_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:216px;
  height:20px;
}
#u31 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u31_img.selected {
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:22px;
  top:0px;
  width:194px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
}
#u34 {
  position:absolute;
  left:3px;
  top:2px;
  width:189px;
  white-space:nowrap;
}
#u30_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:20px;
  top:20px;
  width:56px;
  height:20px;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:40px;
  width:56px;
  height:20px;
}
#u39 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:34px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u38_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:20px;
  top:20px;
  width:62px;
  height:20px;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:40px;
  width:62px;
  height:20px;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:40px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:20px;
  top:120px;
  width:204px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:182px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:177px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:140px;
  width:204px;
  height:20px;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:182px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:177px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:20px;
  top:160px;
  width:287px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:265px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:260px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:184px;
  top:350px;
  width:391px;
  height:145px;
}
#u58_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:20px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:289px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:2px;
  width:284px;
  white-space:nowrap;
}
#u59_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:20px;
  top:20px;
  width:203px;
  height:20px;
}
#u65 {
  position:absolute;
  left:22px;
  top:0px;
  width:181px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
}
#u66 {
  position:absolute;
  left:3px;
  top:2px;
  width:176px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:20px;
  top:40px;
  width:277px;
  height:20px;
}
#u68 {
  position:absolute;
  left:22px;
  top:0px;
  width:255px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:20px;
}
#u69 {
  position:absolute;
  left:3px;
  top:2px;
  width:250px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:20px;
  top:60px;
  width:226px;
  height:20px;
}
#u71 {
  position:absolute;
  left:22px;
  top:0px;
  width:204px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:20px;
}
#u72 {
  position:absolute;
  left:3px;
  top:2px;
  width:199px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:20px;
  top:80px;
  width:277px;
  height:20px;
}
#u74 {
  position:absolute;
  left:22px;
  top:0px;
  width:255px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:20px;
}
#u75 {
  position:absolute;
  left:3px;
  top:2px;
  width:250px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:20px;
  top:100px;
  width:292px;
  height:20px;
}
#u77 {
  position:absolute;
  left:22px;
  top:0px;
  width:270px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
}
#u78 {
  position:absolute;
  left:3px;
  top:2px;
  width:265px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:20px;
  top:120px;
  width:366px;
  height:20px;
}
#u80 {
  position:absolute;
  left:22px;
  top:0px;
  width:344px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
}
#u81 {
  position:absolute;
  left:3px;
  top:2px;
  width:339px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:184px;
  top:500px;
  width:385px;
  height:185px;
}
#u82_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:20px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u84_img.selected {
}
#u84.selected {
}
#u85 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:22px;
  top:0px;
  width:190px;
  height:20px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
}
#u87 {
  position:absolute;
  left:3px;
  top:2px;
  width:185px;
  white-space:nowrap;
}
#u83_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  position:absolute;
  left:20px;
  top:20px;
  width:279px;
  height:20px;
}
#u89 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u89_img.selected {
}
#u89.selected {
}
#u90 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:22px;
  top:0px;
  width:257px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
}
#u92 {
  position:absolute;
  left:3px;
  top:2px;
  width:252px;
  white-space:nowrap;
}
#u88_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93 {
  position:absolute;
  left:20px;
  top:20px;
  width:264px;
  height:20px;
}
#u94 {
  position:absolute;
  left:22px;
  top:0px;
  width:242px;
  height:20px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:20px;
}
#u95 {
  position:absolute;
  left:3px;
  top:2px;
  width:237px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:20px;
  top:40px;
  width:208px;
  height:20px;
}
#u97 {
  position:absolute;
  left:22px;
  top:0px;
  width:186px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:20px;
}
#u98 {
  position:absolute;
  left:3px;
  top:2px;
  width:181px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:20px;
  top:60px;
  width:221px;
  height:20px;
}
#u100 {
  position:absolute;
  left:22px;
  top:0px;
  width:199px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
}
#u101 {
  position:absolute;
  left:3px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:20px;
  top:80px;
  width:191px;
  height:20px;
}
#u103 {
  position:absolute;
  left:22px;
  top:0px;
  width:169px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u104 {
  position:absolute;
  left:3px;
  top:2px;
  width:164px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:20px;
  top:120px;
  width:216px;
  height:20px;
}
#u106 {
  position:absolute;
  left:22px;
  top:0px;
  width:194px;
  height:20px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:20px;
}
#u107 {
  position:absolute;
  left:3px;
  top:2px;
  width:189px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:20px;
  top:140px;
  width:360px;
  height:20px;
}
#u109 {
  position:absolute;
  left:22px;
  top:0px;
  width:338px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
}
#u110 {
  position:absolute;
  left:3px;
  top:2px;
  width:333px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:20px;
  top:160px;
  width:229px;
  height:20px;
}
#u112 {
  position:absolute;
  left:22px;
  top:0px;
  width:207px;
  height:20px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
}
#u113 {
  position:absolute;
  left:3px;
  top:2px;
  width:202px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:184px;
  top:690px;
  width:292px;
  height:45px;
}
#u114_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u116_img.selected {
}
#u116.selected {
}
#u117 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u119 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u115_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120 {
  position:absolute;
  left:20px;
  top:20px;
  width:267px;
  height:20px;
}
#u121 {
  position:absolute;
  left:22px;
  top:0px;
  width:245px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:20px;
}
#u122 {
  position:absolute;
  left:3px;
  top:2px;
  width:240px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:49px;
  top:150px;
  width:55px;
  height:15px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:49px;
  top:350px;
  width:55px;
  height:15px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:49px;
  top:500px;
  width:55px;
  height:15px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:49px;
  top:690px;
  width:55px;
  height:15px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:49px;
  top:175px;
  width:92px;
  height:15px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:49px;
  top:375px;
  width:92px;
  height:15px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:49px;
  top:525px;
  width:92px;
  height:15px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:49px;
  top:715px;
  width:92px;
  height:15px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:210px;
  top:850px;
  width:200px;
  height:210px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:210px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:49px;
  top:550px;
  width:36px;
  height:15px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
