body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1055px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u3 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:16px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u10 {
  position:absolute;
  left:6px;
  top:28px;
  width:164px;
  height:75px;
  font-family:'TradeGothicLT-BoldTwo', 'TradeGothic LT BoldTwo';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:75px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:960px;
  height:4px;
}
#u13 {
  position:absolute;
  left:30px;
  top:154px;
  width:300px;
  height:33px;
  font-family:'TradeGothicLT-BoldTwo', 'TradeGothic LT BoldTwo';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:520px;
  top:910px;
  width:80px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:65px;
  top:960px;
  width:990px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:973px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:990px;
  height:1px;
}
#u18 {
  position:absolute;
  left:910px;
  top:630px;
  width:80px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:10px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:197px;
  width:960px;
  height:408px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:408px;
}
#u21 {
  position:absolute;
  left:2px;
  top:196px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
