body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:100px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:530px;
  top:100px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:36px;
  top:33px;
  width:191px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:710px;
  top:100px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:890px;
  top:100px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u13 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:180px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:140px;
  top:50px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:50px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:280px;
  top:50px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:420px;
  top:50px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:560px;
  top:50px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:60px;
  top:22px;
  width:10px;
  height:28px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:28px;
}
#u30 {
  position:absolute;
  left:66px;
  top:20px;
  width:564px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:547px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:3px;
  width:564px;
  height:4px;
}
#u31 {
  position:absolute;
  left:200px;
  top:24px;
  width:10px;
  height:26px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u32 {
  position:absolute;
  left:340px;
  top:24px;
  width:10px;
  height:26px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u33 {
  position:absolute;
  left:480px;
  top:24px;
  width:10px;
  height:26px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u34 {
  position:absolute;
  left:620px;
  top:24px;
  width:10px;
  height:26px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u35 {
  position:absolute;
  left:370px;
  top:0px;
  width:10px;
  height:26px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u36 {
  position:absolute;
  left:393px;
  top:128px;
  width:17px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:253px;
  top:128px;
  width:17px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:533px;
  top:128px;
  width:17px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1840px;
  top:170px;
  width:10px;
  height:200px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u43 {
  position:absolute;
  left:370px;
  top:180px;
  visibility:hidden;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u45 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:140px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u47 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:280px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:420px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u51 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:560px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u53 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:700px;
  top:50px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u55 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:61px;
  top:24px;
  width:10px;
  height:26px;
}
#u56_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u56_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u56_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u57 {
  position:absolute;
  left:200px;
  top:24px;
  width:10px;
  height:26px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u58 {
  position:absolute;
  left:340px;
  top:24px;
  width:10px;
  height:26px;
}
#u58_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u58_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u58_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u59 {
  position:absolute;
  left:480px;
  top:24px;
  width:10px;
  height:26px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u60 {
  position:absolute;
  left:620px;
  top:24px;
  width:10px;
  height:26px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u61 {
  position:absolute;
  left:760px;
  top:24px;
  width:10px;
  height:26px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u62 {
  position:absolute;
  left:400px;
  top:0px;
  width:10px;
  height:26px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u63 {
  position:absolute;
  left:63px;
  top:19px;
  width:706px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:689px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:3px;
  width:706px;
  height:4px;
}
#u64 {
  position:absolute;
  left:21px;
  top:310px;
  visibility:hidden;
}
#u64_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:161px;
  top:47px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u66 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:21px;
  top:47px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:301px;
  top:47px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u70 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:441px;
  top:47px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u72 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:581px;
  top:47px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u74 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:721px;
  top:47px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u76 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:81px;
  top:19px;
  width:10px;
  height:28px;
}
#u77_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u77_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u77_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:28px;
}
#u78 {
  position:absolute;
  left:87px;
  top:17px;
  width:705px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:688px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:3px;
  width:705px;
  height:4px;
}
#u79 {
  position:absolute;
  left:221px;
  top:21px;
  width:10px;
  height:26px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u80 {
  position:absolute;
  left:361px;
  top:21px;
  width:10px;
  height:26px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u81 {
  position:absolute;
  left:501px;
  top:21px;
  width:10px;
  height:26px;
}
#u81_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u81_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u81_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u82 {
  position:absolute;
  left:641px;
  top:21px;
  width:10px;
  height:26px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u82_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u83 {
  position:absolute;
  left:782px;
  top:21px;
  width:10px;
  height:26px;
}
#u83_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u83_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u83_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u84 {
  position:absolute;
  left:361px;
  top:0px;
  width:10px;
  height:26px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u84_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u85 {
  position:absolute;
  left:21px;
  top:310px;
  visibility:hidden;
}
#u85_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:161px;
  top:53px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u87 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:21px;
  top:53px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u89 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:301px;
  top:53px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u91 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:441px;
  top:53px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u93 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:581px;
  top:53px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u95 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:721px;
  top:53px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u97 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:81px;
  top:25px;
  width:10px;
  height:28px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u98_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:28px;
}
#u99 {
  position:absolute;
  left:87px;
  top:23px;
  width:705px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:688px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:3px;
  width:705px;
  height:4px;
}
#u100 {
  position:absolute;
  left:221px;
  top:27px;
  width:10px;
  height:26px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u101 {
  position:absolute;
  left:361px;
  top:27px;
  width:10px;
  height:26px;
}
#u101_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u101_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u101_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u102 {
  position:absolute;
  left:501px;
  top:27px;
  width:10px;
  height:26px;
}
#u102_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u102_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u102_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u103 {
  position:absolute;
  left:641px;
  top:27px;
  width:10px;
  height:26px;
}
#u103_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u103_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u103_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u104 {
  position:absolute;
  left:782px;
  top:27px;
  width:10px;
  height:26px;
}
#u104_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u104_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u105 {
  position:absolute;
  left:501px;
  top:0px;
  width:10px;
  height:26px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u105_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u106 {
  position:absolute;
  left:15px;
  top:310px;
  visibility:hidden;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:727px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u108 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:587px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u110 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:26px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1287px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u114 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:307px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u116 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:867px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u118 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:447px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u120 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1431px;
  top:52px;
  width:130px;
  height:110px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:110px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1007px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u124 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1147px;
  top:52px;
  width:130px;
  height:80px;
  color:#00CC00;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u126 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:86px;
  top:24px;
  width:10px;
  height:28px;
}
#u127_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u127_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u127_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:28px;
}
#u128 {
  position:absolute;
  left:92px;
  top:22px;
  width:1400px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:1383px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:3px;
  width:1400px;
  height:4px;
}
#u129 {
  position:absolute;
  left:226px;
  top:26px;
  width:10px;
  height:26px;
}
#u129_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u129_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u129_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u130 {
  position:absolute;
  left:366px;
  top:26px;
  width:10px;
  height:26px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u131 {
  position:absolute;
  left:506px;
  top:26px;
  width:10px;
  height:26px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u132 {
  position:absolute;
  left:646px;
  top:26px;
  width:10px;
  height:26px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u133 {
  position:absolute;
  left:787px;
  top:26px;
  width:10px;
  height:26px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u134 {
  position:absolute;
  left:926px;
  top:26px;
  width:10px;
  height:26px;
}
#u134_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u134_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u134_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u135 {
  position:absolute;
  left:1066px;
  top:26px;
  width:10px;
  height:26px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u135_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u136 {
  position:absolute;
  left:1206px;
  top:26px;
  width:10px;
  height:26px;
}
#u136_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u136_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u136_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u137 {
  position:absolute;
  left:1346px;
  top:26px;
  width:10px;
  height:26px;
}
#u137_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u137_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u137_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u138 {
  position:absolute;
  left:1486px;
  top:26px;
  width:10px;
  height:26px;
}
#u138_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u138_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u138_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u139 {
  position:absolute;
  left:226px;
  top:0px;
  width:10px;
  height:26px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:9px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:3px;
  top:0px;
  width:4px;
  height:26px;
}
#u140 {
  position:absolute;
  left:236px;
  top:6px;
  width:657px;
  height:15px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:167px;
  top:52px;
  width:130px;
  height:80px;
  color:#FFFFFF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u143 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:463px;
  top:179px;
  width:17px;
  height:10px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:823px;
  top:179px;
  width:17px;
  height:10px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:36px;
  top:70px;
  width:2234px;
  height:10px;
}
#u148_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:2217px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:5px;
  width:2234px;
  height:1px;
}
