body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:993px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:790px;
  width:350px;
  height:310px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:310px;
}
#u1 {
  position:absolute;
  left:2px;
  top:147px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:265px;
  width:350px;
  height:515px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:515px;
}
#u3 {
  position:absolute;
  left:2px;
  top:250px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:32px;
  top:0px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:748px;
  top:6px;
  width:10px;
  height:28px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u7 {
  position:absolute;
  left:1px;
  top:31px;
  width:126px;
  height:73px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:73px;
}
#u8 {
  position:absolute;
  left:2px;
  top:28px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1px;
  top:0px;
  width:960px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u10 {
  position:absolute;
  left:841px;
  top:4px;
  width:120px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:852px;
  top:12px;
  width:99px;
  height:15px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:763px;
  top:12px;
  width:66px;
  height:15px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:653px;
  top:12px;
  width:90px;
  height:15px;
  color:#666666;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:137px;
  top:56px;
  width:224px;
  height:48px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:48px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:669px;
  top:57px;
  width:250px;
  height:36px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:919px;
  top:57px;
  width:41px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:114px;
  width:960px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:3px;
}
#u24 {
  position:absolute;
  left:633px;
  top:6px;
  width:10px;
  height:28px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u25 {
  position:absolute;
  left:517px;
  top:12px;
  width:107px;
  height:15px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:32px;
  top:150px;
  width:369px;
  height:38px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:38px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:35px;
  top:187px;
  width:685px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:668px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:3px;
  width:685px;
  height:5px;
}
#u30 {
  position:absolute;
  left:35px;
  top:185px;
  width:958px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:958px;
  height:1px;
}
#u31 {
  position:absolute;
  left:50px;
  top:277px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:40px;
  top:220px;
  width:346px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:50px;
  top:317px;
  width:330px;
  height:15px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:50px;
  top:569px;
  width:330px;
  height:15px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:50px;
  top:594px;
  width:330px;
  height:15px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:50px;
  top:619px;
  width:330px;
  height:15px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:80px;
  top:544px;
  width:300px;
  height:15px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:74px;
  top:342px;
  width:306px;
  height:15px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:117px;
  top:367px;
  width:283px;
  height:15px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:117px;
  top:392px;
  width:283px;
  height:15px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:117px;
  top:417px;
  width:263px;
  height:30px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:117px;
  top:454px;
  width:283px;
  height:15px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:117px;
  top:479px;
  width:283px;
  height:15px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:117px;
  top:504px;
  width:283px;
  height:30px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:50px;
  top:657px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u59_img.mouseDown {
}
#u59.mouseDown {
}
#u60 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:50px;
  top:697px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u61_img.mouseDown {
}
#u61.mouseDown {
}
#u62 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:50px;
  top:737px;
  width:330px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
}
#u63_img.mouseDown {
}
#u63.mouseDown {
}
#u64 {
  position:absolute;
  left:10px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:430px;
  top:270px;
  width:563px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:441px;
  top:284px;
  width:99px;
  height:23px;
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:430px;
  top:318px;
  width:563px;
  height:141px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:141px;
}
#u70 {
  position:absolute;
  left:2px;
  top:62px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:441px;
  top:334px;
  width:508px;
  height:110px;
  text-decoration:underline;
  color:#009900;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:110px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:430px;
  top:491px;
  width:563px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:441px;
  top:504px;
  width:192px;
  height:23px;
  font-size:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:23px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:430px;
  top:539px;
  width:563px;
  height:141px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:141px;
}
#u78 {
  position:absolute;
  left:2px;
  top:62px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:441px;
  top:554px;
  width:508px;
  height:110px;
  text-decoration:underline;
  color:#009900;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:110px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:430px;
  top:710px;
  width:563px;
  height:50px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:50px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:441px;
  top:724px;
  width:148px;
  height:23px;
  font-size:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:23px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:430px;
  top:758px;
  width:563px;
  height:62px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:62px;
}
#u86 {
  position:absolute;
  left:2px;
  top:23px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:441px;
  top:780px;
  width:508px;
  height:26px;
  text-decoration:underline;
  color:#009900;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:26px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:430px;
  top:845px;
  width:563px;
  height:50px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:441px;
  top:859px;
  width:234px;
  height:23px;
  font-size:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:23px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:430px;
  top:893px;
  width:563px;
  height:62px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:62px;
}
#u94 {
  position:absolute;
  left:2px;
  top:23px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:441px;
  top:915px;
  width:508px;
  height:26px;
  text-decoration:underline;
  color:#009900;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:26px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:50px;
  top:825px;
  width:330px;
  height:15px;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:50px;
  top:875px;
  width:330px;
  height:15px;
}
#u100 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:50px;
  top:850px;
  width:330px;
  height:15px;
}
#u102 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:50px;
  top:900px;
  width:330px;
  height:15px;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:50px;
  top:925px;
  width:330px;
  height:15px;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:50px;
  top:950px;
  width:330px;
  height:15px;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:50px;
  top:975px;
  width:330px;
  height:15px;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:50px;
  top:1000px;
  width:330px;
  height:15px;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:50px;
  top:797px;
  width:193px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:50px;
  top:1025px;
  width:330px;
  height:15px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:50px;
  top:1050px;
  width:330px;
  height:15px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:50px;
  top:1075px;
  width:330px;
  height:15px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:581px;
  top:1000px;
  width:80px;
  height:30px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:660px;
  top:1000px;
  width:30px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:689px;
  top:1000px;
  width:30px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:718px;
  top:1000px;
  width:30px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:747px;
  top:1000px;
  width:30px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:776px;
  top:1000px;
  width:30px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:805px;
  top:1000px;
  width:55px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:430px;
  top:226px;
  width:139px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
